*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size:2,0rem;
}
header{
    margin: 2px color red;
    height: 120px;
    background-color: rgba(46, 40, 40, 0.822);
    color: rgba(221, 216, 216, 0.76);
    border-color: red;

}
nav ul{
    margin: 0 auto;
    display: flex;
    list-style:none;
}

    .containerimg {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 600px;
    padding: 1rem;
    border-color: grey 2px;
    margin: color red 2px;
}
    img {
        max-width: 220px;
        max-height: 180px;
        opacity: 0.8;
        padding:5px
    
}
    
    img:hover{
        opacity:1;
        border:rgb(0, 0, 0) padding 20px;
        transition: 0.5s;
        border-radius: 20px;
    }
